*:not(img) {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  text-decoration: none !important;
}
img:hover {
  filter: brightness(0.8);
}

.container {
  display: flex;
  flex-direction: column;
}
.home-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.home-tile {
  height: 30%;
  display: flex;
  flex-direction: row;
}
.home-tile-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.home-tile-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.home-content-right-side-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 50%;
}
.home-content-right-side-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 50%;
}

.home-content-left-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-basis: 20%;
  padding: 15px;
  height: 100vh;

  border-right: 1px solid #dedede;
}
.article-paragraph {
  line-height: 1.6;
  font-size: 17px;
}
.home-content-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 60%;
  padding: 8px;
  margin: 10px;
}
.home-content-right-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-basis: 20%;
  padding: 15px;
  height: 100vh;

  border-left: 1px solid #dedede;
}
.home-middle-content-card {
  border-radius: 7px;
  display: flex;
  flex: 2;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  column-gap: 20px;
  margin: 25px 0px;
  text-align: center;
}
.home-middle-content-card .card-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: start;
  row-gap: 10px;
}
.home-middle-content-card .title {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  width: 95%;
}
.home-middle-content-card p {
  color: #6b6b6b;
  font-weight: 100;
}
.card-description-button {
  background-color: rgb(17 24 39);
  color: white;
  border: 1px solid transparent;
  padding: 4px 8px;
  min-width: max-content;
  max-width: max-content;
  cursor: pointer;
}
.card-button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70%;
}
.card-image {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  flex: 1;
}
.card-button-row p {
  font-size: 13px;
}
.card-description-button:hover {
  color: rgb(136, 180, 234);
}
.card-description-button {
  border: 1px solid transparent;
}

.home-middle-content-card picture .card-image {
  object-fit: cover;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}

.top-banner {
  display: none;
  height: 180px;
  background-color: rgb(213, 212, 212);
}

.nav-bar-full {
  height: fit-content;
  background-color: rgb(17 24 39);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
  justify-content: center;
}
.nav-bar-full ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.nav-bar-full ul li {
  margin-right: 19px;
  width: max-content;
}
.nav-bar-full ul li a {
  text-decoration: none;
  color: white;
  width: max-content;
}
.nav-bar-full ul li a:hover {
  color: rgb(136, 180, 234);
}

.logo-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  cursor: pointer;
}
.logo-section strong {
  width: max-content;
}
.logo-section strong:hover {
  color: rgb(136, 180, 234);
}

.logo {
  width: auto;
  height: 35px;
  object-fit: scale-down;
  margin-right: 15px;
}
.sidebar-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.horizontal {
  border-bottom: 1px solid #e8dfdf;
}
.trend-card {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  background-color: white;
  font-size: 14px;
  text-decoration: none !important;
  padding: 3px;
  margin-top: 20px;
}
.trend-card img {
  border-radius: 7px;
}

.trend-card-desc {
  color: #c6bdbd;
  display: flex;
  flex-direction: column;
}
.trend-card-desc a {
  color: black !important;
}
.trend-card-desc a:hover {
  color: violet !important;
}
.keywords {
  display: flex;
  flex-direction: row;
  column-gap: 7px;
  row-gap: 7px;
  flex-wrap: wrap;
}
.keywords a {
  background-color: cornflowerblue;
  color: white;
  width: max-content;
  padding: 5px 7px;
  border-radius: 4px;
  text-decoration: none;
}
.keywords a:hover {
  color: black;
}
@media screen and (max-width: 900px) {
  .home-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .home-content-middle {
    flex-wrap: wrap;
    flex-direction: column;
    order: 1;
    width: 100vw;
    padding: 0px 20px;
  }
  .home-content-left-side {
    order: 2;
    width: 100vw;
  }
  .home-content-right-side {
    order: 3;
    width: 100vw;
  }
  .nav-bar-full ul {
    flex-wrap: wrap;
  }
}
